.alquiler {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .alquiler img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .fechas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .fecha {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .disponible {
    background-color: #c6f4d6; /* Verde claro */
    color: #333;
  }
  
  .no-disponible {
    background-color: #f7c6c6; /* Rojo claro */
    color: #333;
  }
  